# build artifacts
*.pyc
*.egg-info
build
dist
docs/_build
MANIFEST

# testing artifacts
tests/index.html
tests/results
.tox/*
.eggs/*

# test configurations
/default.cfg

# test repositories
data

# editor files
*.un~
.idea/*
