# build artifacts
*.pyc
*.egg-info
build
dist
docs/_build
MANIFEST

# testing artifacts
tests/index.html
tests/results
tests/report.html
tests/.coverage

# test configurations
/default.cfg

# test repositories
data

# editor artifacts
.idea

# pytest artifacts
.cache

# tox artifacts
.tox
