coverage==4.0.3
gunicorn==19.4.5
lxml==3.5.0
pytest==2.9.1
pytest-cov==2.2.1
pytest-flake8==0.2
pytest-html==1.8.0
pytest-catchlog==1.2.2
requests==2.10.0
Sphinx==1.4.1
sqlalchemy==1.0.12
werkzeug==0.11.5
